# Machine Learning Pipeline - Feature Selection

In this notebook, we pick up the transformed datasets that we saved in the previous notebook.

## Reproducibility: Setting the seed

With the aim to ensure reproducibility between runs of the same notebook, but also between the research and production environment, for each step that includes some element of randomness, it is extremely important that we **set the seed**.

In [1]:
# to handle datasets
import pandas as pd
import numpy as np

# for plotting
import matplotlib.pyplot as plt

# to build the models
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

# to visualise al the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

In [2]:
# load the train and test set with the engineered variables

# we built and saved these datasets in the previous lecture.
# If you haven't done so, go ahead and check the previous notebook
# to find out how to create these datasets

X_train = pd.read_csv('xtrain.csv')
X_test = pd.read_csv('xtest.csv')

X_train.head()

        age  sex       bmi  children  smoker    region
0  0.444444  1.0  0.288594       0.6     1.0  0.666667
1  0.622222  0.0  0.438563       0.2     0.0  0.666667
2  0.444444  1.0  0.691180       0.0     1.0  1.000000
3  0.511111  0.0  0.661274       0.0     0.0  0.333333
4  0.977778  0.0  0.411612       0.0     1.0  0.666667

In [3]:
# load the target (remember that the target is log transformed)
y_train = pd.read_csv('ytrain.csv')
y_test = pd.read_csv('ytest.csv')

y_train.head()

   charges
0        1
1        0
2        2
3        0
4        2

In [4]:
X_train.head()

        age  sex       bmi  children  smoker    region
0  0.444444  1.0  0.288594       0.6     1.0  0.666667
1  0.622222  0.0  0.438563       0.2     0.0  0.666667
2  0.444444  1.0  0.691180       0.0     1.0  1.000000
3  0.511111  0.0  0.661274       0.0     0.0  0.333333
4  0.977778  0.0  0.411612       0.0     1.0  0.666667

In [5]:
X_train.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

### Feature Selection

Let's go ahead and select a subset of the most predictive features. There is an element of randomness in the Lasso regression, so remember to set the seed.

In [6]:
# We will do the model fitting and feature selection
# altogether in a few lines of code

# first, we specify the Lasso Regression model, and we
# select a suitable alpha (equivalent of penalty).
# The bigger the alpha the less features that will be selected.

# Then we use the selectFromModel object from sklearn, which
# will select automatically the features which coefficients are non-zero

# remember to set the seed, the random state in this function
sel_ = SelectFromModel(Lasso(alpha=0.001, random_state=0))

# train Lasso model and select features
sel_.fit(X_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.001, random_state=0))

In [7]:
sel_.get_support().sum()

6

In [8]:
# let's visualise those features that were selected.
# (selected features marked with True)

sel_.get_support()

array([ True,  True,  True,  True,  True,  True])

In [9]:
# let's print the number of total and selected features

# this is how we can make a list of the selected features
selected_feats = X_train.columns[(sel_.get_support())]

# let's print some stats
print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feats)))
print('features with coefficients shrank to zero: {}'.format(
    np.sum(sel_.estimator_.coef_ == 0)))

total features: 6
selected features: 6
features with coefficients shrank to zero: 0

In [10]:
# print the selected features
selected_feats

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region'], dtype='object')

In [11]:
pd.Series(selected_feats).to_csv('selected_features.csv', index=False)

# Additional Resources

- [Feature Selection for Machine Learning](https://www.udemy.com/course/feature-selection-for-machine-learning/?referralCode=186501DF5D93F48C4F71) - Online Course
- [Feature Selection for Machine Learning: A comprehensive Overview](https://trainindata.medium.com/feature-selection-for-machine-learning-a-comprehensive-overview-bd571db5dd2d) - Article