In [1]:
import pandas as pd

In [37]:
subm_dt = pd.read_csv('./submit_01_decisiontree.csv', header=None)
subm_rbfsvc = pd.read_csv('./submit_03_rbfsvc.csv', header=None)
subm_knn = pd.read_csv('./submit_05_knn.csv', header=None)
subm_lgb = pd.read_csv('./submit_06_lightgbm.csv', header=None)


subm_dt.head()

   0  1
0  0  0
1  3  0
2  6  1
3  7  0
4  8  1

In [38]:
ensemble_df = pd.DataFrame(
    {
        "subm_dt": subm_dt[1].values,
        "subm_rbfsvc": subm_rbfsvc[1].values,
        "subm_lgb": subm_lgb[1].values
    }
)
ensemble_df.head()

   subm_dt  subm_rbfsvc  subm_lgb
0        0            0         0
1        0            0         0
2        1            1         2
3        0            0         0
4        1            1         2

In [39]:
ensemble_df.corr()

              subm_dt  subm_rbfsvc  subm_lgb
subm_dt      1.000000     0.918526  0.914890
subm_rbfsvc  0.918526     1.000000  0.908789
subm_lgb     0.914890     0.908789  1.000000

In [40]:
subm_data = subm_dt.copy()
subm_data[1] = subm_dt[1] + subm_rbfsvc[1] + subm_lgb[1]
subm_data[1] = (round(subm_data[1] / 3)).astype(int)

subm_data.to_csv("submit_ensemble_dt_svc_lgb.csv", index=False, header=None)

In [41]:
subm_data[1].value_counts()

0    667
1     79
2     54
Name: 1, dtype: int64

In [29]:
# ensemble_df.to_csv("ensemble_df.csv", index=True)